.carsData {
  max-height: 75vh;
  padding: 32px;
  grid-area: table;
  background-color: #f0f2f488;
  overflow-y: scroll;
  overflow-x: hidden;
}
.filterSection {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
}
.searchButton {
  margin-left: 8px;
  padding: 13px 65px;
  color: white;
  background-color: #7b8395;
  border: none;
}
.searchInput {
  padding-left: 40px;
  flex-grow: 1;
  border: 1px solid #dee5eb;
  background-image: url(/src/icons/search.svg);
  background-position: 13px center;
  background-repeat: no-repeat;
}
.searchInput::placeholder {
  color: #7b8395;
}
.selectionSection {
  margin-top: 16px;
  padding: 16px;
  border: 1px solid #dee5eb;
  font-weight: 600;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #c6d1dd;
}
.tableCell {
  padding: 16px;
  border: 1px solid #c6d1dd;
}
.tableBodyCell {
  color: #2d303b;
}
