html {
  --simple-text-font: "IBM Plex Mono", monospace;
  --header-font: "Montserrat";
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
pre {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}

body {
  color: #7b8395;
  font-family: var(--simple-text-font);
  font-size: clamp(12px, 2vw, 16px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  color: #707070;
  font-family: var(--header-font);
  font-size: clamp(24px, 3vw, 36px);
  text-transform: lowercase;
  text-align: center;
}
